h1{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(62,110,196,1) 33%, rgba(0,212,255,1) 100%);
}
h2{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(196,62,157,1) 33%, rgba(0,212,255,1) 100%);
}