.img1{
    border-radius: 50%;
    border: 5px dotted rgb(4, 2, 14);
    margin-right: 20px;
}
.img2{
    border: 4px solid red;
    border-top-left-radius: 100%;
    margin-right: 20px;
}
.img3{
    border: 2px solid purple;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 20px;
}
.img4{
    width: 300px;
    height:300px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-right:20px;
    border-top: 4px hidden black;
    border-left: 4px solid blue;
    border-right: 4px dotted red;
    border-bottom: 4px solid purple ;
}
.img5{
    width: 300px;
    height: 300px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top: 5px dashed palevioletred ;
    border-left: 4px solid brown;
    margin-right: 20px;

}
.video1{
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 3px solid brown;
    margin-right: 30px;

}
.video2{
    width:300px ;
    height:300px;
    border: 4px double rgb(5, 5, 5);
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    margin-right: 20px;
}
body{
    background: rgb(85, 69, 72);
}

